{% extends "::base.html.twig" %}
{% block title %}GotChosen | Add Post{% endblock %}
{% block body %}
    <div class="container">
        {% include 'GotChosenBlogBundle:Default:Blocks/nav.html.twig' %}

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>GotChosen.com Project</h1>
            <p>Welcome to my GotChosen.com Project!</p>
            <p>
              <a class="btn btn-lg btn-primary" href="{{ path("show") }}" role="button">Get started &raquo;</a>
            </p>
        </div>

    </div> <!-- /container -->


{% endblock %}