{% extends "::base.html.twig" %}
{% block title %}GotChosen | Add Post{% endblock %}
{% block body %}
<!-- import the javascript -->
<!-- I kept this JavaScript in this template as it user the dyanmic path variable -->
<script type="text/javascript">
$(document).ready(function(){
    //attach a jQuery live event to the button
    $('#getpost-button').click(function(){
        $( "#showdata" ).empty();

        $.getJSON('{{path('show_posts')}}', function(data) {
            $.each(data, function(i, field) {
                $("#showdata").append('<div style="text-indent:50px;" class="onepost-button"  id="one_post' + i + '"><a href="one_post_json/' + i +'">' + field + '</a></div>');
            });
        });
    });
});
</script>

    <div class="container">
        {% include 'GotChosenBlogBundle:Default:Blocks/nav.html.twig' %}

        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Posts</h1>
            <p class="lead"><div class='json_click'>
                <a href="#" id="getpost-button">Show Posts</a>
                <div id="showdata"></div>
                </div>
            </p>
</div>
{% endblock %}