{% extends "::base.html.twig" %}
{% block title %}GotChosen | Add Post{% endblock %}
{% block body %}
    <div class="container">
        {% include 'GotChosenBlogBundle:Default:Blocks/nav.html.twig' %}
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h2 class="title">Add Author</h2>
 
            {% include 'GotChosenBlogBundle:Admin:Blocks/add_user_form.html.twig' %}

        </div>
    </div>
{% endblock %}