{% extends "::base.html.twig" %}
{% block title %}GotChosen | Add Post{% endblock %}
{% block body %}

<div class='container'>

    {% include 'GotChosenBlogBundle:Admin:Blocks/add_posting_form.html.twig' %}

</div>
   


<a href='list_all'>Back</a>
<br>
<a href='splash'>Home</a>

{% endblock %}