{% extends "::base.html.twig" %}
{% block title %}GotChosen | Add User{% endblock %}
{% block body %}

<div class='container'>
<h2>{{ message1 }}</h2>
<p>{{ message2 }}</p>
<a href='list_all'>Admin</a>
<br>
<a href='splash'>Home</a>

</div>

{% endblock %}