{% extends "::base.html.twig" %}
{% block title %}GotChosen | Add {{ record_type }}{% endblock %}
{% block body %}
    <div class="container">
        {% include 'GotChosenBlogBundle:Default:Blocks/nav.html.twig' %}
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h2>{{ message1 }}</h2>
            <p>{{ message2 }}</p>
            <br>
            <a href="{{ path("list_all") }}">Back to Admin</a>
        </div>
    </div>

{% endblock %}